In [1]:
import pandas as pd

## Import

In [4]:
df = pd.read_csv('./2022AugMonthlyUnifiedTransaction.csv', skiprows=list(range(7)))
df

,date/time,settlement id,type,order id,sku,description,quantity,marketplace,account type,fulfillment,...,Regulatory Fee,Tax On Regulatory Fee,promotional rebates,promotional rebates tax,marketplace withheld tax,selling fees,fba fees,other transaction fees,other,total
0,"Aug 1, 2022 12:00:47 AM PDT",16324943081,Order,112-8186343-4319414,BP-FBA,MAELYS B-PERKY Lift & Firm Breast Mask,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-2.54,-5.85,-4.75,-5.85,0,22.55
1,"Aug 1, 2022 12:08:18 AM PDT",16324943081,Order,111-2074389-8699404,BF-FBA,MAELYS B-FLAT Belly Firming Cream,1.0,amazon.com,Standard Orders,Amazon,...,0,0,-1.50,0,-4.10,-7.35,-3.96,-7.35,0,30.34
2,"Aug 1, 2022 12:13:33 AM PDT",16226407291,Order,111-7930213-5326653,BT-FBA,MAELYS B-TIGHT Lift & Firm Booty Mask,1.0,amazon.com,Invoiced Orders,Amazon,...,0,0,0.00,0,-2.94,-7.35,-3.96,0.00,0,37.69
3,"Aug 1, 2022 12:13:40 AM PDT",16324943081,Order,111-6156812-9619407,BT-FBA,MAELYS B-TIGHT Lift & Firm Booty Mask,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-4.35,-7.35,-3.96,-7.35,0,30.34
4,"Aug 1, 2022 12:15:02 AM PDT",16324943081,Order,112-9338707-5427449,BT-FBA,MAELYS B-TIGHT Lift & Firm Booty Mask,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-4.53,-7.35,-3.96,-7.35,0,30.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21705,"Aug 31, 2022 11:52:44 PM PDT",16429365571,Order,114-5070051-5866626,BT-FBA,MAËLYS B-TIGHT Lift & Firm Booty Mask,1.0,amazon.com,Standard Orders,Amazon,...,0,0,-1.89,0,-4.21,-7.35,-3.96,-7.35,0,30.34
21706,"Aug 31, 2022 11:52:53 PM PDT",16429365571,Order,113-1327108-8403436,BF-FBA,MAELYS B-FLAT Belly Firming Cream,2.0,amazon.com,Standard Orders,Amazon,...,0,0,-7.45,0,-8.42,-14.70,-7.92,-14.70,0,60.68
21707,"Aug 31, 2022 11:53:34 PM PDT",16429365571,Order,112-3938639-3786630,7290017683744AMZUS,MAËLYS B FLEX Lift and Firm Arm Cream - for Ti...,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-2.45,-7.35,-3.96,-7.35,0,30.34
21708,"Aug 31, 2022 11:53:59 PM PDT",16429365571,Order,111-0614207-9157055,BF-FBA,MAELYS B-FLAT Belly Firming Cream,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-5.02,-7.35,-3.96,-7.35,0,30.34
21709,"Aug 31, 2022 11:54:02 PM PDT",16429365571,Order,114-6244137-8921857,7290017683744AMZUS,MAËLYS B FLEX Lift and Firm Arm Cream - for Ti...,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,0.00,-7.35,-3.96,-7.35,0,30.34

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date/time                 21710 non-null  object
 1   settlement id             21710 non-null  int64
 2   type                      21710 non-null  object
 3   order id                  21417 non-null  object
 4   sku                       21448 non-null  object
 5   description               21710 non-null  object
 6   quantity                  21448 non-null  float64
 7   marketplace               21229 non-null  object
 8   account type              21710 non-null  object
 9   fulfillment               21159 non-null  object
 10  order city                21159 non-null  object
 11  order state               21091 non-null  object
 12  order postal              21158 non-null  object
 13  tax collection model      19962 non-null  object
 14  product sales             21710 non-null  float64
 15  product sales tax         21710 non-null  float64
 16  shipping credits          21710 non-null  float64
 17  shipping credits tax      21710 non-null  float64
 18  gift wrap credits         21710 non-null  float64
 19  giftwrap credits tax      21710 non-null  float64
 20  Regulatory Fee            21710 non-null  int64
 21  Tax On Regulatory Fee     21710 non-null  int64
 22  promotional rebates       21710 non-null  float64
 23  promotional rebates tax   21710 non-null  int64
 24  marketplace withheld tax  21710 non-null  float64
 25  selling fees              21710 non-null  float64
 26  fba fees                  21710 non-null  float64
 27  other transaction fees    21710 non-null  float64
 28  other                     21710 non-null  object
 29  total                     21710 non-null  object
dtypes: float64(12), int64(4), object(14)
memory usage: 5.0+ MB

## Columns

In [11]:
df.columns

Index(['date/time', 'settlement id', 'type', 'order id', 'sku', 'description',
       'quantity', 'marketplace', 'account type', 'fulfillment', 'order city',
       'order state', 'order postal', 'tax collection model', 'product sales',
       'product sales tax', 'shipping credits', 'shipping credits tax',
       'gift wrap credits', 'giftwrap credits tax', 'Regulatory Fee',
       'Tax On Regulatory Fee', 'promotional rebates',
       'promotional rebates tax', 'marketplace withheld tax', 'selling fees',
       'fba fees', 'other transaction fees', 'other', 'total'],
      dtype='object')

In [39]:
int_columns = ['quantity', 'product sales']

In [12]:
float_columns = ['product sales tax', 'shipping credits', 'shipping credits tax',
       'gift wrap credits', 'giftwrap credits tax', 'Regulatory Fee',
       'Tax On Regulatory Fee', 'promotional rebates',
       'promotional rebates tax', 'marketplace withheld tax', 'selling fees',
       'fba fees', 'other transaction fees', 'other', 'total']

In [14]:
string_columns = ['type', 'order id', 'sku', 'description', 'marketplace', 'account type', 'fulfillment', 'order city',
       'order state', 'order postal', 'tax collection model']

In [66]:
clean_df = df.copy()

## Parsing

### DATETIME

In [61]:
df['date/time'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 21710 entries, 0 to 21709
Series name: date/time
Non-Null Count  Dtype
--------------  -----
21710 non-null  object
dtypes: object(1)
memory usage: 169.7+ KB

In [67]:
clean_df['date/time'] = pd.to_datetime(df['date/time'])
clean_df['date/time'].info()

/home/erickpshat/.cache/pypoetry/virtualenvs/colleagues-recs-RWU8SX3a-py3.9/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

<class 'pandas.core.series.Series'>
RangeIndex: 21710 entries, 0 to 21709
Series name: date/time
Non-Null Count  Dtype
--------------  -----
21710 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 169.7 KB

### INTS

In [40]:
df[int_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   quantity       21448 non-null  float64
 1   product sales  21710 non-null  float64
dtypes: float64(2)
memory usage: 339.3 KB

In [68]:
clean_df.quantity = df.quantity.fillna(0)
clean_df[int_columns] = clean_df[int_columns].apply(lambda x: x.astype('int', errors='ignore'))
clean_df[int_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   quantity       21710 non-null  int64
 1   product sales  21710 non-null  int64
dtypes: int64(2)
memory usage: 339.3 KB

### FLOATS

In [69]:
df[float_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product sales tax         21710 non-null  float64
 1   shipping credits          21710 non-null  float64
 2   shipping credits tax      21710 non-null  float64
 3   gift wrap credits         21710 non-null  float64
 4   giftwrap credits tax      21710 non-null  float64
 5   Regulatory Fee            21710 non-null  int64
 6   Tax On Regulatory Fee     21710 non-null  int64
 7   promotional rebates       21710 non-null  float64
 8   promotional rebates tax   21710 non-null  int64
 9   marketplace withheld tax  21710 non-null  float64
 10  selling fees              21710 non-null  float64
 11  fba fees                  21710 non-null  float64
 12  other transaction fees    21710 non-null  float64
 13  other                     21710 non-null  object
 14  total                     21710 non-null  object
dtypes: float64(10), int64(3), object(2)
memory usage: 2.5+ MB

In [ ]:
df[df['other'].str.contains(',')].other

688        -1,424.50
690        -2,072.00
692        -1,203.20
3412       -2,757.60
3413       -1,895.85
5271     -359,391.97
8125       -1,764.40
8126       -2,566.40
14868    -247,504.01
Name: other, dtype: object

In [ ]:
df[df['total'].str.contains(',')].other

688        -1,424.50
690        -2,072.00
692        -1,203.20
3412       -2,757.60
3413       -1,895.85
5271     -359,391.97
8125       -1,764.40
8126       -2,566.40
14868    -247,504.01
Name: other, dtype: object

In [45]:
def parse_floats(series):
    series = series.str.replace(',', '')
    return pd.to_numeric(series)

In [72]:
clean_df[['other', 'total']] = df[['other', 'total']].apply(parse_floats)
clean_df[['other', 'total']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   other   21710 non-null  float64
 1   total   21710 non-null  float64
dtypes: float64(2)
memory usage: 339.3 KB

In [74]:
clean_df[float_columns] = clean_df[float_columns].apply(lambda x: x.astype('float'))
clean_df[float_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product sales tax         21710 non-null  float64
 1   shipping credits          21710 non-null  float64
 2   shipping credits tax      21710 non-null  float64
 3   gift wrap credits         21710 non-null  float64
 4   giftwrap credits tax      21710 non-null  float64
 5   Regulatory Fee            21710 non-null  float64
 6   Tax On Regulatory Fee     21710 non-null  float64
 7   promotional rebates       21710 non-null  float64
 8   promotional rebates tax   21710 non-null  float64
 9   marketplace withheld tax  21710 non-null  float64
 10  selling fees              21710 non-null  float64
 11  fba fees                  21710 non-null  float64
 12  other transaction fees    21710 non-null  float64
 13  other                     21710 non-null  float64
 14  total                     21710 non-null  float64
dtypes: float64(15)
memory usage: 2.5 MB

### STRINGS

In [32]:
df[string_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  21710 non-null  object
 1   order id              21417 non-null  object
 2   sku                   21448 non-null  object
 3   description           21710 non-null  object
 4   marketplace           21229 non-null  object
 5   account type          21710 non-null  object
 6   fulfillment           21159 non-null  object
 7   order city            21159 non-null  object
 8   order state           21091 non-null  object
 9   order postal          21158 non-null  object
 10  tax collection model  19962 non-null  object
dtypes: object(11)
memory usage: 1.8+ MB

In [75]:
clean_df[string_columns] = df[string_columns].apply(lambda x: x.astype('string'))
clean_df[string_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21710 entries, 0 to 21709
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  21710 non-null  string
 1   order id              21417 non-null  string
 2   sku                   21448 non-null  string
 3   description           21710 non-null  string
 4   marketplace           21229 non-null  string
 5   account type          21710 non-null  string
 6   fulfillment           21159 non-null  string
 7   order city            21159 non-null  string
 8   order state           21091 non-null  string
 9   order postal          21158 non-null  string
 10  tax collection model  19962 non-null  string
dtypes: string(11)
memory usage: 1.8 MB

## Saving

In [77]:
clean_df.to_csv('parsed_data_types.csv')